/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 40px;
  font-weight: 100;
  color: #3d83a6;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 27px;
  font-weight: 100;
  color: #584f44;
}

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #584f44;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #584f44;
  font-weight: 200;
}

a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #584f44;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 20px;
}
