/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  margin: 2rem;
}

.overskrift {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.overskrift h1 {
  font-size: 5rem;
  font-weight: 200;
  line-height: 1;
  transform: translateX(0);
  text-decoration-color: #3d83a6;
  font-family: "Shippori Mincho", serif;
}

.velkommen {
  text-align: center;
  margin: 2rem 1.5rem;
  line-height: 1.8;
}
.forside-decor a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.forside-decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.grid_1_1 img {
  width: 100%;
  height: auto;
  display: block;
}

.forside-decor a:hover,
.forside-decor a:focus {
  transform: translateY(-5px);
}

/*************** Desktop layout *********************/
@media screen and (min-width: 1300px) {
  .grid_1_1 {
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
  }

  .overskrift h1 {
    font-size: 9rem;
    transform: translateX(-90px);
  }

  .velkommen {
    max-width: 380px;
    margin: 2rem auto;
  }
}
