/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfbf7;
}
.grid_111 {
  display: block;
  margin: 2rem;
}

.svg {
  max-width: 10%;
}

@media (min-width: 1300px) {
  .grid_111 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
