/*************** Reset *********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.om_mig1,
.om_mig2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}

.om_mig1 div,
.om_mig2 div {
  order: 1;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.9;
}

.om_mig1 img,
.om_mig2 img {
  order: 2;
  max-width: 260px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

[popover] {
  max-width: 900px;
  width: 95%;
  max-height: 90vh;
  padding: 2rem;
  margin: auto;
}

[popover] img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.popup {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.knap2 {
  background-color: #584f44;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0.2rem;
  font-family: "Roboto Condensed", sans-serif;
}

/*************** Desktop starter *********************/
@media (min-width: 1300px) {
  .om_mig1,
  .om_mig2 {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto 4rem;
    padding: 4rem;
    align-items: center;
    text-align: left;
  }

  .om_mig1 div {
    grid-column: 1;
    grid-row: 1;
  }

  .om_mig1 img {
    grid-column: 2;
    grid-row: 1;
    max-width: 400px;
  }

  .om_mig2 img {
    grid-column: 1;
    grid-row: 1;
    max-width: 400px;
  }

  .om_mig2 div {
    grid-column: 2;
    grid-row: 1;
  }
}
/*************** Desktop slutter *********************/
