/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: start;
  text-align: center;
  margin: 2em;
}

.content img {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

details {
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.8;
}

.knapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 15px 75px;
  gap: 2rem;
}

.knap {
  background-color: #584f44;
  color: #fff;
  padding: 1.5rem;
  text-decoration: none;
  border-radius: 0.2rem;
  font-weight: 400;
  text-align: center;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.8;
}

summary h2 {
  margin: 0;
}

/* DESKTOP starter*/
@media (min-width: 1300px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 60px;
    align-items: center;
  }

  .knapper {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 2rem;
  }

  .intro {
    padding: 1rem;
  }

  .content img {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
}

/* DESKTOP slutter*/
